header {
  font-size: 1.5rem;
  height: 10vh;
  background-color: pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.timer {
  font-weight: bold;
  font-size: 3rem;
}
