@import 'reset.css';
@import 'header.css';

html {
  font-size: 1.25vmax;
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 5vh;
  grid-column-gap: 2.5vw;
  place-items: center;
  place-content: center;
  margin: 5vh 2.5vw;
}

.cards > div {
  background: url(/img/cardback.png);
  background-size: 100% 100%;
  background-position: center;
  height: 22vh;
  width: 17vw;
  text-align: center;
  color: white;
  border: solid 10px pink;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
