@import 'resets.css';
@import 'header.css';
@import 'footer.css';
@import 'palette.css';

html {
  font-size: 3vmin;
  height: 100%;
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 5vh;
  grid-column-gap: 2.5vw;
  place-items: center;
  place-content: center;
  height: 100%;    
}

.cards > div {
  background: no-repeat center/100% 100% url(/img/cardback.png);
  height: 10vh;
  width: 17vw;
  padding-top: 40px;
  text-align: center;
  color: white;
  border: solid 10px var(--frustration-main);
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  font-size: 1.25rem;
  user-select: none;
}

.gameArea{
  display: grid;
  background-image: url(./img/trinitybackgroundwhite.png);
  height: 100%;
  grid-template-rows: auto 1fr auto;
}